@model IdentityText.Models.PrivateLesson

@{
    ViewData["Title"] = "Create";
}

<div class="container">
    <div class="col-sm-12 col-xl-6 col-xl-12 mt-5">
        <div class="bg-secondary rounded h-100 p-4">
            <h6 class="mb-4">Create New Private Lesson</h6>
            <form asp-action="Create">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                <div class="form-group">
                    <label asp-for="Price" class="control-label"></label>
                    <input asp-for="Price" class="form-control" />
                    <span asp-validation-for="Price" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="Title" class="control-label"></label>
                    <input asp-for="Title" class="form-control" />
                    <span asp-validation-for="Title" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="StartDate" class="control-label"></label>
                    <input asp-for="StartDate" class="form-control" type="date" />
                    <span asp-validation-for="StartDate" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="EndDate" class="control-label"></label>
                    <input asp-for="EndDate" class="form-control" type="date" />
                    <span asp-validation-for="EndDate" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="Subject" class="control-label"></label>
                    <select asp-for="SubjectId" class="form-control" asp-items="ViewBag.SubjectId">
                        <option value="">-- اختر المادة --</option>
                    </select>
                    <span asp-validation-for="SubjectId" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="Teacher" class="control-label"></label>
                    <select asp-for="TeacherId" class="form-control" asp-items="ViewBag.TeacherId">
                        <option value="">-- اختر المدرس --</option>
                    </select>
                    <span asp-validation-for="TeacherId" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <input type="submit" value="Create" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
