@model IdentityText.Models.ViewModel.LectureVM


@{
    ViewData["Title"] = "Edit";
}
<div class="container mt-5">
    <div class="col-sm-12 col-xl-6 col-xl-12">
        <div class="bg-secondary rounded h-100 p-4">
            <h6 class="mb-4">Edit Lecture Item</h6>
            <form asp-action="Edit" method="post" >
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="LectureId" />
                <div class="md-3">
                    <label asp-for="Title" class="control-label"></label>
                    <input asp-for="Title" class="form-control" />
                    <span asp-validation-for="Title" class="text-danger"></span>
                </div>
                <div class="md-3">
                    <label asp-for="Description" class="control-label"></label>
                    <input asp-for="Description" class="form-control" />
                    <span asp-validation-for="Description" class="text-danger"></span>
                </div>
                <div class="md-3">
                    <label asp-for="LectureDate" class="control-label"></label>
                    <input asp-for="LectureDate" class="form-control" type="datetime-local" />
                    <span asp-validation-for="LectureDate" class="text-danger"></span>
                </div>
                <div class="md-3">
                    <label asp-for="VideoURL" class="control-label"></label>
                    <input asp-for="VideoURL" class="form-control"  />
                    <span asp-validation-for="VideoURL" class="text-danger"></span>
                </div>
                <div class="md-3">
                    <label asp-for="CreatedAt" class="control-label"></label>
                    <input asp-for="CreatedAt" class="form-control" type="datetime-local" />
                    <span asp-validation-for="CreatedAt" class="text-danger"></span>
                </div>
                <div class="md-3">
                    <label asp-for="AssessmentId" class="control-label"></label>
                    <select asp-for="AssessmentId" class="form-control" asp-items="@Model.AssessmentList"></select>
                    <span asp-validation-for="AssessmentId" class="text-danger"></span>
                </div>
                <div class="md-3">
                    <label asp-for="ClassGroupId" class="control-label"></label>
                    <select asp-for="ClassGroupId" class="form-control" asp-items="@Model.ClassGroupList"></select>
                    <span asp-validation-for="ClassGroupId" class="text-danger"></span>
                </div>
                <div class="md-3">
                    <input type="submit" value="Save" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>

</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }

}
